{% extends "base.html" %}

                {% block content %}
                
                <div class="container" style="margin-top: 100px;">
                    <h3 style="color: white; background-color: red; padding: 5px;">ADMIN</h3>                

                    <button class="btn btn-default" id="delete-demo-data" data-url="/admin" data-operation="delete-demo-data" data-method="post">delete demo data</button>
                    <button class="btn btn-default" id="create-demo-data" data-url="/admin" data-operation="create-demo-data" data-method="post">create demo data</button>
                    <button class="btn btn-default" id="list-demo-data" data-url="/admin" data-operation="list-demo-data" data-method="get">list demo data</button>
                </div>
                
                <div class="container" style="margin-top: 60px;">
                    <div id="internal_content">
                        {{internal_content}}
                    </div>
                </div>
                
                {% endblock %}
                
        {% block script %}
        <script>
            var get_html = function(content_node) {
                var content = content_node.content;
                var html = '<li>' + content['title'];
                
                if (content_node.children !== null && content_node.children.length > 0) {
                    html += '\n';
                    html += '<ul>\n';
                    
                    for (var i = 0; i < content_node.children.length; i++) {
                        html += get_html(content_node.children[i]);
                    }
                    
                    html += '</ul>\n';
                }
                html += '</li>\n';
                
                return html;
            };
            
            $('button').click(function(e) {
                var url = $(this).data('url');
                var operation = $(this).data('operation');
                var method = $(this).data('method');
                
                if ('post' === method) {
                    $.post(url, { 'operation': operation })
                    .done(function(result) {
                        var obj = JSON.parse(result);
                        $('#internal_content').html('<p>the server returned the success value ' + obj.success + ' at ' + new Date() + '</p>');
                    });
                } else if ('get' === method) {
                    $.getJSON(url + '?operation=' + operation, function(result) {
                        var html = '<p>the server returned the success value ' + result.success + ' at ' + new Date() + '</p>\n';
                        var dataObject = JSON.parse(result.data);
                        $.each(dataObject, function(key, value){
                            html += get_html(value);
                        });
                        $('#internal_content').html(html);
                    });
                }
            });
        </script>
        {% endblock %}