<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Quickread{% endblock %}</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block head %}
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
        <link rel="stylesheet" href="/css/default.css">
        {% endblock %}

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div id="wrap">
            {{navigation_top}}
            {{toolbar}}

            {%- if username != None -%}
            <div id="content">
                {% block content %}
                
                <h2>Welcome</h2>

                {% endblock %}
            </div>
            {%- else %}
            <a href="{{url}}" class="navbar-link">Bitte einloggen.</a>
            {%- endif %}
        </div>

        {{footer}}

        <script src="/js/jquery/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {% block script %}
        {% endblock %}
    </body>
</html>
