{% extends "base.html" %}

{% block title %}Quickread - Treetable Example{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/jquery.treetable.css" />
    <link rel="stylesheet" href="/css/jquery.treetable.theme.default.css" />
    <link rel="stylesheet" href="/css/split-pane.css">
    <link rel="stylesheet" href="/css/layout.css">
{% endblock %}

{% block content %}
                <div class="container split-pane-frame">
                    <div class="col-lg-12 split-pane-row">
                        <div class="split-pane fixed-left">
                            <div class="split-pane-component" id="left-component">
                                <div class="decoration">
                                    <div id="treecontainer">
                                        <div class="loading" style="display: none;"><img src="/resources/images/loader.gif" alt="">Loading data ...</div>
                                        <table id="treetable" style="display: none;">
                                            <tbody id="tree-content"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="split-pane-divider" id="my-divider"></div>
                            <div class="split-pane-component" id="right-component">
                                <div class="decoration">
                                    <div class="row" style="margin-top: 20px; margin-right: 20px;">
                                        <form class="form-horizontal" role="form" id="edit-form">
                                            <div class="form-group">
                                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" id="inputName" placeholder="Name">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="inputText" class="col-sm-2 control-label">Text</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" rows="3" id="inputText" placeholder="Text"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button type="submit" class="btn btn-default">Speichern</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

{% block script %}
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/jquery.treetable.js"></script>
        <script src="/js/split-pane.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>

        <script>
            var selected_index = null;
            
            var colorize = function() {
                $visible_rows = $('#tree-content tr:not([style*="display: none;"])');
                var len = $visible_rows.length;
                
                for (var i = 0; i < len; i++) {
                    $row = $($visible_rows[i]);
                    
                    if (i % 2 === 0) {
                        $row.removeClass('treetable_dark');
                        $row.addClass('treetable_light');
                    } else {
                        $row.removeClass('treetable_light');
                        $row.addClass('treetable_dark');
                    }
                };
            };
            
            var row_clicked = function(e) {
                var treecontainerOffset = 5 + 20; // from style of #treecontainer and .container.split-pane-frame
                var indenterWidth = $(this).find('.indenter')[0].clientWidth;
                var x = e.clientX;

                if (x > treecontainerOffset + indenterWidth) {
                    if (selected_index !== null) {
                        $('tr[data-tt-id="' + selected_index + '"]').removeClass('treetable_selected');
                    }
                    selected_index = $(this).data('tt-id');
                    $(this).addClass('treetable_selected');

                    $('#inputName').val($(this).find('td').text());
                    $('#inputText').val($(this).data('text'));
                }
            };

            var get_table_row = function(content_node, parent) {
                var content = content_node.content;
                var key_url = content_node.key_url;
                var id = content['title'].substr(content['title'].lastIndexOf('_') + 1);
                var parent_part = '';
                
                if (parent) {
                    parent_part = 'data-tt-parent-id="' + parent + '"';
                }
                
                var html = '\n                            <tr data-text="' + content['text'] + '" data-tt-id="' + id + '"' + parent_part + '>\n';
                html += '                                <td style="padding-left: 0;">' + content['title'] + '</td>\n';
                html += '                            </tr>\n';

                if (content_node.children !== null && content_node.children.length > 0) {
                    for (var i = 0; i < content_node.children.length; i++) {
                        html += get_table_row(content_node.children[i], id);
                    }
                }

                return html;
            };

            $(document).ready(function(e) {
                $('.loading').show();
                $('div.split-pane').splitPane();
                $.getJSON('/overview?operation=list-data', function(result) {
                    var html = '';
                    var dataObject = JSON.parse(result.data);
                    $.each(dataObject, function(key, value) {
                        html += get_table_row(value);
                    });
                    $('#tree-content').html(html);
                    $("#treetable").treetable({
                        indent: 10,
                        expandable: true
                    });
                    
                    //colorize();
                    $('#treetable tr').click(row_clicked);
                    $('.loading').hide();
                    $('#treetable').show();
                });
            });

            $('#edit-form').submit(function(e) {
                e.preventDefault();
                console.log($(this));
            });
        </script>
{% endblock %}