{% extends "base.html" %}

{% block title %}Quickread - Treetable Example{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/css/jquery.treetable.css" />
    <link rel="stylesheet" href="/css/jquery.treetable.theme.default.css" />
{% endblock %}

{% block content %}
                <div style="margin: 10px; padding: 10px;">
                    <div class="loading" style="display: none;"><img src="/resources/images/loader.gif" alt="">Loading data ...</div>
                    <table id="treetable" style="display: none;">
                        <caption>these are demo test data</caption>
                        <thead>
                            <tr>
                                <th>tree</th>
                                <th>content</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody id="tree-content">
                        </tbody>
                    </table>
                </div>
{% endblock %}

{% block script %}
        <script src="/js/treetable_alt.js"></script>
        <script src="/js/jquery/jquery-ui.js"></script>
        <script src="/js/jquery/jquery.treetable.js"></script>

        <script>
            var selected_index = null;
            
            var colorize = function() {
                $visible_rows = $('#tree-content tr:not([style*="display: none;"])');
                var len = $visible_rows.length;
                
                for (var i = 0; i < len; i++) {
                    $row = $($visible_rows[i]);
                    
                    if (i % 2 === 0) {
                        $row.removeClass('treetable_dark');
                        $row.addClass('treetable_light');
                    } else {
                        $row.removeClass('treetable_light');
                        $row.addClass('treetable_dark');
                    }
                };
            };
            
            var row_clicked = function() {
                if (selected_index !== null) {
                    $('tr[data-tt-id="' + selected_index + '"]').removeClass('treetable_selected');
                }
                selected_index = $(this).data('tt-id');
                $(this).addClass('treetable_selected');
            };

            $(document).ready(function(e) {
                $('.loading').show();
                $.getJSON('/overview?operation=list-data', function(result) {
                    var html = '';
                    var dataObject = JSON.parse(result.data);
                    $.each(dataObject, function(key, value) {
                        html += get_table_row(value);
                    });
                    $('#tree-content').html(html);
                    $("#treetable").treetable({
                        onNodeCollapse: colorize,
                        onNodeExpand: colorize,
                        indent: 10,
                        expandable: true
                    });
                    
                    colorize();
                    $('#treetable tr').click(row_clicked);
                    $('.loading').hide();
                    $('#treetable').show();

                    register_button_handler();
                });
            });
        </script>
{% endblock %}