.treetable_dark {
    background-color: #fff !important;
}

.treetable_light {
    background-color: #ddd !important;
}

.treetable_selected {
    background-color: #d6e2ee !important;
    border: 1px solid blue;
}

#treetable td textarea {
    width: 100%;
}

.private-node:after {
    content: '*';
};