.container {
    max-width: 5000px !important;
    margin: 20px !important;
}

#treecontainer {
    margin: 5px;
}

#left-component {
        width: 20em; /* Same as divider left */
}

#my-divider {
        left: 20em;
        width: 5px;
}

#right-component {
        left: 20em; /* Same as divider left */
        margin-left: 5px; /* Same as divider width */
}

.split-pane-frame {
    height: 500px;
    background-color: silver;
    padding: 0;
}

.split-pane-row {
    height: 100%;
    padding: 0;
}

.decoration {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid gray;
    background: white;
    width: 100%;
    height: 100%;
    overflow: auto;
}